In [1]:
import pandas as pd
import numpy as np

# WORK dictionary
WORK = {}

# 1. Customers
WORK["customers"] = pd.DataFrame({
    "cust_id": range(1, 11),
    "name": [f"Customer_{i}" for i in range(1, 11)],
    "city": np.random.choice(["Stockholm", "Göteborg", "Malmö"], size=10)
})

# 2. Products
WORK["products"] = pd.DataFrame({
    "prod_id": range(101, 106),
    "product": ["Laptop", "Phone", "Tablet", "Headset", "Monitor"],
    "price": [12000, 8000, 5000, 1200, 3000]
})

# 3. Orders
WORK["orders"] = pd.DataFrame({
    "order_id": range(1001, 1011),
    "cust_id": np.random.choice(WORK["customers"]["cust_id"], size=10),
    "prod_id": np.random.choice(WORK["products"]["prod_id"], size=10),
    "quantity": np.random.randint(1, 5, size=10)
})

# 4. Payments
WORK["payments"] = pd.DataFrame({
    "payment_id": range(2001, 2011),
    "order_id": np.random.choice(WORK["orders"]["order_id"], size=10),
    "amount": np.random.randint(1000, 20000, size=10),
    "method": np.random.choice(["Card", "Swish", "Invoice"], size=10)
})

# 5. Suppliers
WORK["suppliers"] = pd.DataFrame({
    "supp_id": range(301, 306),
    "supplier": [f"Supplier_{i}" for i in range(1, 6)],
    "city": np.random.choice(["Stockholm", "Göteborg", "Malmö"], size=5)
})

# 6. Inventory
WORK["inventory"] = pd.DataFrame({
    "prod_id": WORK["products"]["prod_id"],
    "stock": np.random.randint(5, 50, size=5),
    "supp_id": np.random.choice(WORK["suppliers"]["supp_id"], size=5)
})

# 7. Employees
WORK["employees"] = pd.DataFrame({
    "emp_id": range(401, 406),
    "name": [f"Employee_{i}" for i in range(1, 6)],
    "role": np.random.choice(["Sales", "Support", "Manager"], size=5)
})

# 8. Stores
WORK["stores"] = pd.DataFrame({
    "store_id": range(501, 504),
    "city": ["Stockholm", "Göteborg", "Malmö"],
    "manager": np.random.choice(WORK["employees"]["name"], size=3)
})

# 9. Shipments
WORK["shipments"] = pd.DataFrame({
    "ship_id": range(601, 611),
    "order_id": np.random.choice(WORK["orders"]["order_id"], size=10),
    "status": np.random.choice(["Pending", "Shipped", "Delivered"], size=10)
})

# 10. Returns
WORK["returns"] = pd.DataFrame({
    "return_id": range(701, 706),
    "order_id": np.random.choice(WORK["orders"]["order_id"], size=5),
    "reason": np.random.choice(["Damaged", "Wrong item", "Other"], size=5)
})


# --- Några join-exempel ---
# Join orders + customers
orders_with_customers = WORK["orders"].merge(WORK["customers"], on="cust_id", how="left")

# Join med products också
orders_full = orders_with_customers.merge(WORK["products"], on="prod_id", how="left")

# Lägg in i WORK
WORK["orders_full"] = orders_full

# Visa översikt
def work_overview():
    return pd.DataFrame({
        "Name": list(WORK.keys()),
        "Rows": [len(df) for df in WORK.values()],
        "Cols": [df.shape[1] for df in WORK.values()],
        "Columns": [list(df.columns) for df in WORK.values()]
    })

work_overview()

           Name  Rows  Cols                                            Columns
0     customers    10     3                              [cust_id, name, city]
1      products     5     3                          [prod_id, product, price]
2        orders    10     4             [order_id, cust_id, prod_id, quantity]
3      payments    10     4             [payment_id, order_id, amount, method]
4     suppliers     5     3                          [supp_id, supplier, city]
5     inventory     5     3                          [prod_id, stock, supp_id]
6     employees     5     3                               [emp_id, name, role]
7        stores     3     3                          [store_id, city, manager]
8     shipments    10     3                        [ship_id, order_id, status]
9       returns     5     3                      [return_id, order_id, reason]
10  orders_full    10     8  [order_id, cust_id, prod_id, quantity, name, c...